
<!-- <button class ="btn btn-primary" disabled > ADD USER </button> bind property by enclosing it square brackets -->

<label> Add User </label>
<input type = "text" class = "form-control" (input) = "onUpdateUser($event)"/> 
<p>
{{ userName }} 
</p>


<button 
  class ="btn btn-primary" 
  [disabled] = "!allowNewUser"  
  (click) = "onUserCreation()"> ADD USER </button> <!-- property binding uses square brackets,event binding uses pranthesis -->

<!-- <p> {{ allowNewUser }}</p> -->

<!-- <p [innerText] = "allowNewUser"> </p>  -->

{{ userCreationStatus }}

<app-user></app-user>
<app-user></app-user>  

<!-- ng generate component <compname> generates new component in app folder

ng g c <componentname>  -->

 <!-- 13 event binding using $ 
add a label and input field
- enter the name of the user to be created 
-to output what user enter - $event
dollar sign event will  be the data emitted with that event.
 -->