
<div class ="container">
  <div class ="row">
    <div  class ="col-xs-12">
        <!-- <h3> App component</h3> -->
        <hr>
        <!-- <app-users> </app-users> -->
        <!-- <div app-users>      </div> -->
        <div class= "app-users">      </div> 
        <!-- <app-blue></app-blue>
        <hr>
        <app-red></app-red> -->
      

    </div>
  </div>
</div>


<!-- selecting by id not supported by anglr -->

<!-- debugging for logical errors - debug at runtime- add breakpoints in dev tools like usual
BUT ts -> js , finding ts here in bundles ?
js files support **source maps**
CLI adds sm to our bundles
which allow the browser 
to map JavaScript code to our TypeScript files. -->

<!-- directly access your TypeScript files under Webpack -->